/*The styling on this page is quite plain because my html file
did not use divs. It will be easier to position and contain content with
divs in my dbc2.html page. */

body {
	background-color: lightblue;
	font-family:sans-serif;
}

h1 {
	border: 2px solid grey;
	width:50%;
	border-radius:10%;
}

.underline{
	text-decoration:underline;
}

img {
	float:left;
	margin-left:20px;
}

#image_link{
	text-align:center;

}

#spaceman {
	float:right;
	margin-right:20em;

}