body{
	min-width:570px;
	max-width:100%;
	background-image:url("../../unit1_week1/images/congruent_outline.png");
	color:white;
	background-repeat:horizontal;
}

header{
	height:200px;
	background-color:rgb(141, 151, 155);
	margin-top:20px;
	font-size:20px;
	border-top-right-radius: 25%;
	border-top-left-radius: 25%;
}

li {
	text-align:center;
	padding: 20px 0px 10px 0px;
	margin-right:10px;
	margin-left:-20px;
}

a {
	font-size:20px;
	color:black;
	text-decoration:none;
	border:1px solid black;


}

a:hover{
	background-color:rgb(141, 151, 155);
	border:1px solid black;
	border-radius:25%;
}

h2{
	text-align:center;
	text-decoration:underline;
}


footer{
	background-color:lightgrey;
	height:50px;
	max-width:100%;
}

h5 {
	margin-top:20px;
	text-align:center;
}

p {
	text-indent:15px;
	text-align:left;
}

span {
	font-family:'Special Elite';
}
.foot_link {

	padding-top:10px;
	display:inline;
	margin: 5%;
}

.sec {
	clear:both;
	text-align:left;
	display:block;
	max-width:100%;
}

.td_img {
	height:120px;
	width:auto;
}

.vertical{
	height:300px;
	text-align:center;
	list-style-type:none;
	text-decoration: none;
}

#blog_content{
	margin-top:1em;
	background-color: darkgrey;
	margin-left:none;
	max-width:73%;
	float:right;
	text-align:center;
	display:inline;
	border: 1px solid white;
	position: relative;
	border-top-right-radius: 10%;
	border-top-left-radius: 10%;
}

#email{
	color:grey;
}



#site_nav{
	padding-left:-10px;
	display:inline-block;
	max-width:30%;
	min-width:24%%;
	background-color:lightgrey;
	max-height:20%;
	border-bottom-left-radius: 25%;
	border-bottom-right-radius: 25%;
}


#myself{
	border:3px solid papayawhip;
	max-width:10%;
	margin:-3.5em 0em 0em 2em;
	height:auto;
	float:left;
	display:inline;
	position: relative;
}

#header_text{
	text-align:center;
	padding-top:30px;
	min-width:75%;
}

#foot_ul{
	padding-top:15px;
}