body{
	min-width:330px;
	max-width:100%;
	background-image:url("../../unit1_week1/images/background.jpg");
	color:white;
	background-repeat:horizontal;
}

header{
	height:150px;
	background-color:rgb(141, 151, 155);
	margin-top:20px;
	font-size:20px;
}

li {
	text-align:center;
	padding: 20px 0px 10px 0px;
	margin-right:10px;
	margin-left:-20px;
}

a {
	font-size:20px;
	color:black;
	text-decoration:none;

}

a:hover{
	background-color:rgb(141, 151, 155);
	border:1px solid black;
	border-radius:25%;
}

h2{
	text-align:center;
	text-decoration:underline;
}


footer{
	background-color:lightgrey;
	height:50px;
	max-width:100%;
}

h5 {
	margin-top:20px;
	text-align:center;
}

p {
	text-indent:15px;
	text-align:left;
}
.foot_link {

	padding-top:10px;
	display:inline;
	margin: 5%;
}

.sec {
	clear:both;
	text-align:left;
	display:block;
	max-width:100%;
}

.td_img {
	height:120px;
	width:auto;
}

.vertical{
	height:300px;
	text-align:center;
	list-style-type:none;
	text-decoration: none;
}

#blog_content{
	min-width: 70%;
	max-width:74%;
	float:right;
	text-align:center;
	display:inline;
}

#email{
	color:grey;
}



#site_nav{
	padding-left:-10px;
	display:inline-block;
	max-width:30%;
	min-width:25%;
	background-color:lightgrey;
	max-height:20%;
}


#myself{
	border:3px solid papayawhip;
	width:120px;
	margin-top:-90px;
	height:auto;
	float:left;
	display:inline;
}

#header_text{
	text-align:center;
	padding-top:30px;
}

#foot_ul{
	padding-top:15px;
}